<div class="layout-container">
    <!-- side nav -->
    <div class="layout-page-side-navbar">
        <div class="border border-bottom dark">
           <h2 class="py-2 text-center"> Ng Play </h2> 
        </div>
        <div class="menu-lists">
            <div class="menu-item ">
                <mat-icon>shopping_basket</mat-icon>
                <a class="menu-link text-dark" [routerLink]="['/page']" routerLinkActive="router-link-active">Product</a>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <div style="width: 100%;">
        <div>
            <mat-toolbar>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="example-spacer"></span>
                <h6>Hello Deepz</h6>
            </mat-toolbar>
        </div>
        
        <router-outlet></router-outlet>
    </div>
</div>