.layout-container{
    display: flex;
}
.example-spacer {
    flex: 1 1 auto;
}
.layout-page-side-navbar{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-right: 1px solid #a6a6a6;
    min-height: 100vh;
    width: 240px;
}
.menu-item{
    border-bottom: 1px solid gray;
    padding: 25px 5px 15px 20px;
    display: flex;
    align-items: center;
}
.menu-link{
    text-decoration: none;
    font-size: 18px;
    padding-left: 15px;
}