.login-card{
    padding: 25px;
    border: 2px solid #dfe4e9;
    border-radius: 1.5%;
    max-width: 480px;
}

.btn-text-name{
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    .login-container {
        padding: 0 30px;
    }
}