.login-card{
    padding: 25px;
    border: 2px solid #dfe4e9;
    border-radius: 1.5%;
    max-width: 480px;
}

.social-btn-group{
    background-color: #dc3545;
    border-radius: 0.25rem;
    padding: .375rem .75rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-text-name{
    font-weight: 500;
    font-size: 16px;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    .login-container {
        padding: 0 30px;
    }
}