<div class="header">
    <nav class="navbar-container">
        <div class="d-flex align-item-center">
            <button mat-icon-button (click)="ontoogle()" [disableRipple]="true" data-toggle="collapse-menu" data-target="#collapseWidthExample"  class="toggle-button" id="sidebar-toggle">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="brand-container">
                <h3 class="navbar-header d-flex align-item-center justify-item-center pt-2">
                    <i class="las la-infinity"></i> Deepz Dev
                </h3>
            </div>
           
        </div>
        <div class="profile-section">
            <div mat-icon-button class="profile-user" (click)="onUserDropDown()">
                <div class="profile-rounded">
                    <div class="user-logo">
                       <p class="user-name">D</p>
                    </div>
                </div>  
            </div>
            <ul class="user-profile-dropdown" [ngClass]="show_userdropdown ? 'showMenu' : ''">
                <li><div><p>Account</p></div></li>
                <li (click)="logout()"><div><p>Sign out</p></div></li>
            </ul>
        </div>
    </nav>
</div>

<aside class="collapse-menu" [ngClass]="is_toogled ? 'collapse-menu-toggled' : ''" >
    <nav>
        <div class="d-flex justify-content-between">
            <div>
                <h3 class="mobile-view-brand-logo-name d-flex align-item-center justify-item-center">
                    <i class="las la-infinity"></i> Deepz Dev
                </h3> 
            </div>

            <button mat-icon-button (click)="ontoogle()" [disableRipple]="true" data-toggle="collapse-menu" data-target="#collapseWidthExample"  class="toggle-button" id="sidebar-toggle">
                <i class="las la-angle-double-left"></i>
            </button>
        </div>
        <ul class="navbar-nav" (click)="onSidebarClick()">
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" [routerLink]="['/page/products']">
                    <i class="las la-shopping-basket"></i>
                    Products
                </a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" [routerLink]="['/page/customers']">
                    <i class="las la-user"></i>
                    Customers
                </a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" [routerLink]="['/page/sales']">
                    <i class="las la-shopping-cart"></i>
                    Sales
                </a>
            </li>
        </ul>
    </nav>
</aside>