<div class="header">
    <nav class="navbar-container">
        <div class="d-flex align-item-center">
            <button mat-icon-button (click)="ontoogle()" [disableRipple]="true" data-toggle="collapse-menu" data-target="#collapseWidthExample"  class="toggle-button" id="sidebar-toggle">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="brand-container">
                <h3 class="navbar-header d-flex align-item-center justify-item-center pt-2">
                    <i class="material-icons">all_inclusive</i> Deepz Dev
                </h3>
            </div>
           
        </div>
        <div class="profile-section">
            <div mat-icon-button [matMenuTriggerFor]="menu" class="profile-user">
                <div class="profile-rounded">
                    <div class="user-logo">
                       <p class="user-name">D</p>
                    </div>
                </div>  
            </div>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">
                  <span class="text-danger">Logout</span>
                </button>
            </mat-menu>
        </div>
    </nav>
</div>

<aside class="collapse-menu" [ngClass]="is_toogled ? 'collapse-menu-toggled' : ''" >
    <ul class="navbar-nav" (click)="onSidebarClick()">
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/page']">
                <i class="material-icons">shopping_basket</i>
                Product
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/page']">
                <i class="material-icons">person_outline</i>
                Customers
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/page']">
                <i class="material-icons">list_alt</i>
                Services
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/page']">
                <i class="material-icons">report</i>
                Reports
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/page']">
                <i class="material-icons">storage</i>
                Data
            </a>
        </li>
    </ul>
</aside>