.header{
    position: fixed;
    padding: 10px 16px;
    width: 100%;
    box-shadow: 1px 0px 1px 0px #aaa;
    z-index: 5;
    top: 0;
    background-color: white;
}

.nav-item {
    padding: 0.3rem 0.8rem;
}

.active>.nav-link {
    background-color: #5383c6;
    color: #ffffff;
}

.nav-link {
    position: relative;
    border-radius: 0.3rem;
    padding: 0.6rem 1rem;
    font-size: 1.02rem;
    color: #4d4d4d;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    background-color: #f7f6f6;
}

.material-icons {
    margin-right: 1.3rem;
}

.toggle-button{
    display: none;
}

.collapse-menu{
    display: none;
    overflow-y: auto;
}

@media only screen and (max-width: 990px) {
    .header {
       width: 100%;
       margin-left: 0;
    }
}

@media screen and (max-width: 770px) {
    .toggle-button {
        display: block;
    }
    .collapse-menu-toggled{
        display: inline;
        position: fixed;
        width: 240px;
        margin-top: 4.5rem;
        height: 100%;
        z-index: 5;
        background-color: white;
        backdrop-filter: blur(10px);
    }
}