<aside class="sidebar">
    <div class="sidebar-menu">
        <ul class="navbar-nav">
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" [routerLink]="['/page/products']">
                    <i class="las la-shopping-basket"></i>
                    Products
                </a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" [routerLink]="['/page/customers']">
                    <i class="las la-user"></i>
                    Customers
                </a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" [routerLink]="['/page/sales']">
                    <i class="las la-shopping-cart"></i>
                    Sales
                </a>
            </li>
        </ul>
    </div>
</aside>
