<div class="sidebar">
    <div class="sidebar-brand">
        <h2 class="d-flex justify-item-center align-item-center">
            <span><mat-icon>all_inclusive</mat-icon> </span>
            <span>Deepz Dev</span>
        </h2>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a class="active" [routerLink]="['/page']" routerLinkActive="router-link-active">
                    <span class="menu-icon"><mat-icon>shopping_basket</mat-icon></span>
                    <span>Product</span>
                </a>
            </li>
            <li>
                <a class="" [routerLink]="['/page']" routerLinkActive="router-link-active">
                    <span class="menu-icon"><mat-icon>person_outline</mat-icon></span>
                    <span>Customers</span>
                </a>
            </li>
            <li>
                <a class="" [routerLink]="['/page']" routerLinkActive="router-link-active">
                    <span class="menu-icon"><mat-icon>list_alt</mat-icon></span>
                    <span>Services</span>
                </a>
            </li>
            <li>
                <a class="" [routerLink]="['/page']" routerLinkActive="router-link-active">
                    <span class="menu-icon"><mat-icon>report</mat-icon></span>
                    <span>Reports</span>
                </a>
            </li>
            <li>
                <a class="" [routerLink]="['/page']" routerLinkActive="router-link-active">
                    <span class="menu-icon"><mat-icon>storage</mat-icon></span>
                    <span>Data</span>
                </a>
            </li>
        </ul>
    </div>
</div>
