.sidebar{
    width: 240px;
    height: 100%;
    position: fixed;
    margin-top: 4rem;
    left: 0;
    box-shadow: 0 0 1px 0 #aaa;
    z-index: 3;
    background-color: white;
}
.sidebar-brand{
    padding: 1rem 0rem 1rem 2rem;
    box-shadow: 0 0 1px 0 #aaa;
}
.sidebar-menu{
    height: 100%;
    margin-top: 1rem;
}
.nav-item{
    padding: 0.3rem 0.8rem;
}
.active > .nav-link{
    background-color: #5383c6;
    color: #ffffff;
}
.nav-link{
    position: relative;
    border-radius: 0.3rem;
    padding: 0.6rem 1rem;
    font-size: 1.12rem;
    color: #4d4d4d;
    display: flex;
    align-items: center;
}
.nav-link:hover{
    background-color: #f7f6f6;
}
.material-icons{
    margin-right: 1.6rem;
}
.las{
    font-size: 1.8rem;
    margin-right: 1.6rem;
}

@media only screen and (max-width: 990px) {
    .sidebar{
        width: 90px;
    }
    .material-icons{
        margin-right: 0;
        margin-bottom: 5px;
    }
    .nav-link {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 12px;
    }
}

@media screen and (max-width: 770px) {
    .sidebar{
        display: none;
    }
}