<aside class="sidebar">
    <!-- <div class="sidebar-brand">
        <h3 class="d-flex justify-item-center align-item-center">
            <i class="material-icons">all_inclusive</i>
            Deepz Dev
        </h3>
    </div> -->
    <div class="sidebar-menu">
        <ul class="navbar-nav">
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link"  [routerLink]="['/page']">
                    <i class="material-icons">shopping_basket</i>
                    Product
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/page']">
                    <i class="material-icons">person_outline</i>
                    Customers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/page']">
                    <i class="material-icons">list_alt</i>
                    Services
                </a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/page']">
                    <i class="material-icons">report</i>
                    Reports
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/page']">
                    <i class="material-icons">storage</i>
                    Data
                </a>
            </li>
        </ul>
    </div>
</aside>
